
app-stars {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

header, main, section {
  position: relative;
  z-index: 10;
}


.top-header {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: rgb(26, 24, 36);
  padding: 0.5rem 0;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

nav ul {
  display: flex;
  gap: 4rem;
}

nav li {
  padding: .5rem 2rem;
  border-radius: 10rem;
  transition: .4s;
}

nav li:hover {
  background: rgba(1, 61, 52, .7);
  transform: scale(1.1);
}

nav a {
  color: chartreuse;
  text-decoration: none;
}

.intro {
  display: flex;
  gap: 4rem;
  margin: 4rem auto;
  padding: 0 4rem;
  align-items: flex-start;
}

.text-section {
  max-width: 620px;
  padding-right: 2rem;
}

.text-section h2 {
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.text-section p {
  margin-bottom: 3.2rem;
  line-height: 1.7;
  font-size: 1.05rem;
  color: #e0e0e0;
}

h2, p {
  color: white;
}


.tech ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.tech-icon {
  background: #dedcdc;
  padding: 1.2rem;
  border-radius: 2rem;
  transition: .3s;
}

.tech-icon:hover {
  transform: scale(1.15);
}

.tech-icon img {
  width: 70px;
}

.projects-section {
  margin-top: 5rem;
  text-align: center;
  
}

.projects-title {
  color: chartreuse;
  margin-bottom: 3rem;
}

.projects-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
}

.project-card {
  background: rgb(26, 24, 36);
  padding: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: .3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,255,191,.4);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: .8rem;
}

.project-card h3 {
  color: chartreuse;
  margin-top: 1rem;
}

.project-card p {
  color: #ddd;
}

.modal-project {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 9999;
}

.modal-project.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background: rgb(26, 24, 36);
  padding: 2rem;
  border-radius: 1.2rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.modal-content img {
  width: 100%;
  border-radius: 1rem;
}

.modal-content p {
  color: #ddd;
}

.modal-link {
  display: inline-block;
  margin-top: 1rem;
  color: chartreuse;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid chartreuse;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  transition: 0.3s ease;
}

.modal-link:hover {
  background: chartreuse;
  color: #000;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: chartreuse;
  cursor: pointer;
}
.footer {
  margin-top: 6rem;
  background: rgb(44, 39, 67);
  color: #ddd;
}

.footer-content {
  max-width: 1100px;
  margin: auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.footer h3 {
  color: chartreuse;
  margin-bottom: 1rem;
}

.footer p {
  line-height: 1.7;
}

.footer-contact a {
  color: chartreuse;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(93, 193, 125, 0.664);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #aaa;
}


@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-contact {
    font-style: normal;
  }
}