@use '../theme' as vars;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
   background: transparent !important;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: auto;
 
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin: 0;
  border: none;
  outline: none;
  background: none;
}
