
$color-primary: #912ec1;
$color-primary010: #e2c7f8;

$color-secondary: #76ed3b;
$color-secondary010: #346f16;

$color-success: #4caf50;
$color-warning: #ff9800;
$color-error: #f44336;
$color-background: #1b1d27;
$color-text: #212022;
$color-muted: #888888;


$font-primary: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;